<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW1/blob/main/DATA_612_HW_1_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 1

## Purpose:      
This assignment is intended to help you do the following:       
1.	Open a GitHub account for your own use and for your career advancement (if you already do not have one).     
2.	Submit information and code in GitHub following best practices from the Udacity course.     
3.	Explore a dataset thoroughly.      
4.	Find and print descriptive information from the dataset.

## Action Items:           
Open a GitHub account to submit your work. If you are new to GitHub, follow the videos and instructions on the following link to understand how to post things on GitHub and start your own account. https://blog.udacity.com/2015/06/a-beginners-git-github-tutorial.html and/or https://guides.github.com/activities/hello-world/     

1.   Select the dataset of your choice from the list 
provided <a href="https://github.com/frankData612/data_612">here.</a>   
2.   Load the dataset using Jupyter notebook and explore the data by using the following.


-	Show the .head() and .tail() of the data set. Specify the number of rows to print using .head() and .tail().      
-	Print the column names.      
-	Print to see what is the type of your data set    
-	Check number of rows and columns.
-	Use groupby() and find the mean on your selected colum/s.
-	Add a README file in GitHub where you explain everything you did.

In [78]:
import pandas as pd
#Select the dataset of your choice from the list provided here.
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

In [79]:
df.head(3)

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311

[3 rows x 21 columns]

In [80]:
df.tail(3)

        Unnamed: 0 Utilization Type  ...             Location          NDC
156217      815768             MCOU  ...  (42.2373, -71.5314)  60432013325
156218     2029158             FFSU  ...  (38.8964, -77.0262)     88110947
156219     2799238             FFSU  ...  (38.8964, -77.0262)     29152725

[3 rows x 21 columns]

In [81]:
df.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(6)
memory usage: 24.0+ MB

In [83]:
df.shape

(156220, 21)

In [86]:
df.groupby('Location')['Number of Prescriptions'].mean()

Location
(14.2417, -170.7197)    127.001769
(14.8058, 145.5505)      25.811543
(18.0001, -64.8199)     136.927561
(18.2766, -66.335)       24.370053
(21.1098, -157.5311)     99.471346
(27.8333, -81.717)      206.223196
(31.106, -97.6475)       41.332192
(31.1801, -91.8749)     203.971945
(32.7673, -89.6812)     272.866933
(32.799, -86.8073)      157.579931
(32.9866, -83.6487)      75.785784
(33.7712, -111.3877)    375.519322
(33.8191, -80.9066)     664.153526
(34.8375, -106.2371)    826.832355
(34.9513, -92.3809)     111.283124
(35.5376, -96.9247)     155.683013
(35.6411, -79.8431)      60.541899
(35.7449, -86.7489)     116.293279
(36.17, -119.7462)       80.875000
(37.669, -84.6514)      221.485499
(37.768, -78.2057)      211.407905
(38.4199, -117.1219)    476.512353
(38.4623, -92.302)      107.818493
(38.5111, -96.8005)     130.048473
(38.8964, -77.0262)      55.308199
(39.0646, -105.3272)    116.824053
(39.0724, -76.7902)      88.792571
(39.3498, -75.5148)     200.417330
(39.8647, -86.2604)      46.513686
(40.1135, -111.8535)    109.811250
(40.314, -74.5089)       35.759056
(40.3363, -89.0022)     179.613321
(40.3736, -82.7755)      68.720535
(40.5773, -77.264)       66.271042
(41.1289, -98.2883)      85.264864
(41.5834, -72.7622)      34.203146
(41.6772, -71.5101)     200.465423
(42.0046, -93.214)       48.712156
(42.1497, -74.9384)     120.092398
(42.2373, -71.5314)      77.719033
(43.3504, -84.5603)      71.900102
(43.4108, -71.5653)      85.002801
(44.0407, -72.7093)      20.690031
(44.2394, -114.5103)    380.208102
(44.2853, -99.4632)      63.815881
(44.5672, -122.1269)     25.979100
(44.6074, -69.3977)     145.902327
(45.7326, -93.9196)     225.037850
(46.9048, -110.3261)     22.484375
(47.5362, -99.793)       39.679090
(61.385, -152.2683)      29.119737
Name: Number of Prescriptions, dtype: float64