<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW-Spencer-Flynn/blob/main/DATA_612_HW_2_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 2

## Purpose:     
This assignment is intended to help you do the following:   
1.	Modify and add information on the dataset by adding and calculating new columns     
2.	Work with dates in a dataset       
3.	Learn how to write and save your work as a csv file from Jupyter Notebook.

## Action Items:       
â€¢	Create a new column using the date column.     
  1. Find the maximum date of your data.     
  2. Subtract all the dates on the column from the maximum date.       
  3. Convert the number of days into number of months.       
  4. Save the result on a new column and add to the data set.        
  5. Save the dataset as a csv file.        
  6. Upload the assignment on your GitHub account and Update the README file where you explain everything you did.

In [1]:
import datetime as datetime
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-recent.csv')

In [2]:
date = df['date']
df['date_time']  = pd.to_datetime(date)
max = df['date_time'].index.max()

In [3]:
df['date_time_difference'] = df['date_time'] - df['date_time'].loc[max]

In [4]:
df['dates_minus_maxdate'] = df['date_time'] + df['date_time_s']
df['dates_minus_maxdate']

0       2021-03-28
1       2021-03-28
2       2021-03-28
3       2021-03-28
4       2021-03-28
           ...
97397   2021-05-25
97398   2021-05-25
97399   2021-05-25
97400   2021-05-25
97401   2021-05-25
Name: date_add, Length: 97402, dtype: datetime64[ns]

In [5]:
df['num_months'] = df['date_time_s']/np.timedelta64(1, 'M')
df['num_months']

0       -0.952792
1       -0.952792
2       -0.952792
3       -0.952792
4       -0.952792
           ...
97397    0.000000
97398    0.000000
97399    0.000000
97400    0.000000
97401    0.000000
Name: num_months, Length: 97402, dtype: float64