<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW-Spencer-Flynn/blob/main/DATA_612_HW5_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type.

In [8]:
import pandas as pd


df = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/fruit.csv')
df.dtypes

fruit_name     object
mass            int64
height        float64
dtype: object

In [9]:
df['mass'] = df['mass'].astype('category')
df.dtypes

fruit_name      object
mass          category
height         float64
dtype: object

2. Convert another column into a string type.

In [11]:
df['fruit_name'] = df['fruit_name'].astype('string')
df.dtypes

fruit_name      string
mass          category
height         float64
dtype: object