<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW-Spencer-Flynn/blob/main/DATA_612_HW_2_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import datetime as datetime
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-recent.csv')

In [18]:
date = df['date']
df['date_time']  = pd.to_datetime(date)
max = df['date_time'].index.max()

In [19]:
df['date_time_difference'] = df['date_time'] - df['date_time'].loc[max]

In [20]:
df['dates_minus_maxdate'] = df['date_time'] + df['date_time_difference']
df['dates_minus_maxdate']

0       2021-03-28
1       2021-03-28
2       2021-03-28
3       2021-03-28
4       2021-03-28
           ...
97397   2021-05-25
97398   2021-05-25
97399   2021-05-25
97400   2021-05-25
97401   2021-05-25
Name: dates_minus_maxdate, Length: 97402, dtype: datetime64[ns]

In [21]:
df['num_months'] = df['date_time_difference']/np.timedelta64(1, 'M')
df['num_months']

0       -0.952792
1       -0.952792
2       -0.952792
3       -0.952792
4       -0.952792
           ...
97397    0.000000
97398    0.000000
97399    0.000000
97400    0.000000
97401    0.000000
Name: num_months, Length: 97402, dtype: float64

In [23]:
df.to_csv('d612_hw2_sf.csv')