<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW-Spencer-Flynn/blob/main/DATA_612_HW4_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 4      
(Chapter 4 & 5)

## Purpose:         
This assignment is intended to help you do the following:
1.	Familiarize with merging datasets together
2.	Learn how to identify missing data from a dataset
3.	Handle the missing data from the dataset

## Action Items:
â€¢	Merge other data to your selected data set.    
1. Find another data set, series, text data or a column from another data source and merge with your selected data set.      
2. Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.       
3. Post your work on GitHub     
4. Add a README

import libraries and dataframes

In [52]:
 import pandas as pd

df1 = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/customers.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/fruit.csv')

In [53]:
#df1 = df1.drop(df1.index[40:200])
#dropped rows so each dataframe has same number of rows

Concatenating along axis=1 means the dataframes will be added in a column-wise fashion and matched against their respective row indices. Missing values indicators appear in the areas where the indices did not align.

In [56]:
df4 = pd.concat([df1,df2], axis=1)
df4.isnull().sum()
#found number of null values

CustomerID                  0
Annual Income (k$)          0
Spending Score (1-100)      0
fruit_name                160
mass                      160
height                    160
dtype: int64

In [ ]:
df4.dropna()
#dropped rows containing null values